<div class="picker-main">
  <!-- <div class="p-ym">
    <i class="iqon-angle-left" (click)="toPrevMonth()"></i>
    <div class="p-ym-wrap">
      <div class="p-ym-item" style="margin-right: 15px;">
        <select [(ngModel)]="year" (ngModelChange)="getDate(year,month)">
          <option *ngFor="let i of yearList" [value]="i">{{i}}</option>
        </select>年
      </div>
      <div class="p-ym-item">
        <select [(ngModel)]="month" (ngModelChange)="getDate(year,month)">
          <option *ngFor="let i of monthList" [value]="i">{{i+1}}</option>
        </select>月
      </div>
    </div>
    <i class="iqon-angle-right" (click)="toNextMonth()"></i>
  </div> -->
  <!-- <ul class="p-day">
    <li>一</li>
    <li>二</li>
    <li>三</li>
    <li>四</li>
    <li>五</li>
    <li>六</li>
    <li>日</li>
  </ul>
  <div style="position: relative;">
    <ul class="p-date">
      <li *ngFor="let i of prevMonth" class="color-gray" (click)="toPrevMonth(i)" [ngStyle]="{'cursor': disabledPrevMonth ? 'not-allowed' : 'pointer'}">{{i}}</li>
      <li *ngFor="let i of currentMonth" [ngClass]="{'currentday': day == i,'color-gray': i < disabledStartDate || i > disabledEndDate}" [ngStyle]="{'cursor': i < disabledStartDate || i > disabledEndDate ? 'not-allowed' : 'pointer'}" (click)="chooseDate(i)">{{i}}</li>
      <li *ngFor="let i of nextMonth" class="color-gray" (click)="toNextMonth(i)" [ngStyle]="{'cursor': disabledNextMonth ? 'not-allowed' : 'pointer'}">{{i}}</li>
    </ul>
    <div *ngIf="chooseWeek" class="p-date-cover">
      <ul>
        <li *ngFor="let i of weekLenList" [class.active]="week == i" (click)="selectWeek(i)"></li>
      </ul>
    </div>
  </div> -->
</div>
