<ul class="nav">
  <li class="nav-category">
    <span>components</span>
    <ul class="nav-item">
      <li routerLink="components/breadcrumb" routerLinkActive="active">breadcrumb</li>
      <li routerLink="components/switcher" routerLinkActive="active">switcher</li>
      <li routerLink="components/tab" routerLinkActive="active">tab</li>
    </ul>
  </li>
  <li class="nav-category">
    <span>directives</span>
    <ul class="nav-item">
      <li routerLink="directives/autoheight" routerLinkActive="active">autoheight</li>
      <li routerLink="directives/drag" routerLinkActive="active">drag</li>
      <li routerLink="directives/trim" routerLinkActive="active">trim</li>
    </ul>
  </li>
</ul>