<div class="page">
  <div class="page-size" *ngIf="!simpleModel">
    显示：
    <a [class.active]="pagerData.pageSize === 10" (click)="changePageSize(10)">10</a>
    <a [class.active]="pagerData.pageSize === 20" (click)="changePageSize(20)">20</a>
    <a [class.active]="pagerData.pageSize === 50" (click)="changePageSize(50)">50</a>
    条/页
    <span style="margin-left: 15px;">共{{pagerData.total}}条</span>
  </div>
  <div class="page-center">
    <ul class="pagination">
      <li class="page-change" (click)="changePageNoTo(-1)" [class.forbidden]="pagerData.pageNo === 1">&lt;</li>
      <li *ngFor="let item of pageNumList" (click)="changePageNo(item)" [class.active]="pagerData.pageNo === item" [style.cursor]="item === '...' ? 'default' : 'pointer'">{{item}}</li>
      <li class="page-change" (click)="changePageNoTo(1)" [class.forbidden]="pagerData.pageNo === totalPages">&gt;</li>
    </ul>
    <div class="page-go" *ngIf="!simpleModel">
      到第 <input type="text" #pageNo (keyup.enter)="changePageNoTo(0, pageNo.value);pageNo.value='';"> 页
      <button type="button" (click)="changePageNoTo(0, pageNo.value);pageNo.value='';">go</button>
    </div>
  </div>
</div>
