.page{
  position: relative;
  user-select: none;
  line-height: 25px;

  .page-size{
    >a{
      color: #4a4a4a;
      cursor: pointer;

      &.active{
        color: #57b9f8;
      }
    }
  }

  .page-center{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    ul.pagination{
      display: inline-block;

      >li{
        display: inline-block;
        padding: 0 5px;
        min-width: 25px;
        text-align: center;

        &.active{
          color: #fff;
          background: #57b9f8;
        }

        &.page-change{
          cursor: pointer;
        }

        &.forbidden{
          color: #ccc;
          cursor: not-allowed;
        }
      }
    }

    .page-go{
      display: inline-block;
      margin-left: 30px;

      >input{
        padding: 0 5px;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      >button{
        color: #4a4a4a;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover{
          color: #57b9f8;
        }
      }
    }
  }
}